{% extends 'base.html' %}
{% block content %}
  {% include 'partials/_pmc_chart.html' %}
  {% include 'partials/_activity_grid.html' %}
{% endblock %}
{% block scripts %}
  <script type="application/json" id="pmcData">{{ chart_data | tojson }}</script>
  <script src="{{ url_for('static', filename='js/pmc_chart.js') }}"></script>
  <script src="{{ url_for('static', filename='js/activity.js') }}"></script>
  <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
{% endblock %}
